.section {
  margin: 0 10%;
}

.project_section {
  margin-top: 3em;
}

.raise:hover,
.raise:focus {
  transform: translateY(-0.25em);
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* General button style (reset) */
.btn_r {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_r:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	color: #fff;
  box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75);
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button 1e */
.btn-1e {
	overflow: hidden;
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: rgb(48, 52, 57);
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #000;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

.my_image {
  margin:0 40%;
  width:20%;
  border-radius: 50%;
}

.bottom_social {
  margin: 1%;
}

.intro_wrapper {
  display: flex;
}

.title{
  margin: 3%;
  color: rgb(163, 167, 166);
  font-family:'Roboto', sans-serif;
  font-size:40px;
  line-height:40px;
  padding:0 10px;
  text-shadow:none;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}
.name {
  background-color: rgba(0, 0, 0, 0.7);
}
.hidden{
  display: none;
}

.floatLeft {
  float:left;
}

#textWrapper {
  height: 40px;
  width: 550px;
  float: right;
}

.bottom {
  margin: 75px 0 0 0;
  opacity:0;
}

@media only screen and (max-width: 700px){
  .my_image {
    margin: 30% 30% 0% 30%;
    width: 40%;
  }
  .title{
    margin: 10%;
  }
  .section {
    margin: 1%;
  }
  .btn_r {
    margin: 5%;
  }
  .project_section {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 360px){
  .my_image {
    margin: 30% 0% 0% 0%;
    width: 40%;
  }
  .name {
    line-height: 50px;
  }
  .btn_r {
    margin: 5%;
  }
}
