.section {
  margin: 0 10%;
}

.project_section {
  margin-top: 3em;
}

/* General button style (reset) */
.btn_r {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_r:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1e */
.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #000;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

.my_image {
  margin:0 40%;
  width:20%;
  border-radius: 50%;
}

.bottom_social {
  margin: 3%;
}

.intro_wrapper {
  display: flex;
}

.title{
  margin: 3%;
  color:white;
  font-family:'Montserrat', sans-serif;
  font-size:40px;
  line-height:40px;
  padding:0 10px;
  text-shadow:none;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}
.name {
  background-color: rgba(0, 0, 0, 0.7);
}
.hidden{
  display: none;
}

.floatLeft {
  float:left;
}

#textWrapper {
  height: 40px;
  width: 550px;
  float: right;
}

.bottom {
  margin: 75px 0 0 0;
  opacity:0;
}

@media only screen and (max-width: 700px){
  .my_image {
    margin:0 30%;
    width: 40%;
  }
  .bottom_social {
    margin: 10% 0.1% 0.1% 5%;
  }
  .title{
    margin: 10%;
  }
  .section {
    margin: 1%;
  }
  .btn_r {
    margin: 15%;
  }
  .project_section {
    margin-top: 3em;
  }
}
