.section {
  margin: 0 10%;
}

.project_section {
  margin-top: 3em;
}

.bold {
  font-weight: bolder;
}
.white {
  color: white;
}
.stuff {
  position: absolute;
  width: 100%;
  height: 100%;
}
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}
