@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,100,200);
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0,0,0,.95)
}

/* Container */
.header {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
}

.menu-container {
  z-index: 1000;
  position: absolute;
  padding: 30px;
}

/* Hamberger Menu */
.menu {
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border-top: 7px solid white;
  border-bottom: 7px solid white;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.menu:before, .menu:after {
  content: "";
  background-color: white;
  width: 50px;
  height: 7px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.menu.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: transparent;
}
.menu.active:before, .menu.active:after {
  background-color: white;
}
.menu.active:after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

/* Fullscreen Menu */
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0;
}
.fullscreen-menu ul {
  position: absolute;
  top: 50%;
  margin: 0% 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  text-align: left;
}
.fullscreen-menu ul li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}
.fullscreen-menu ul li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.fullscreen-menu ul li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.fullscreen-menu ul li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.fullscreen-menu ul li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.fullscreen-menu ul li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.fullscreen-menu ul li a {
  color: white;
  text-decoration: none;
  line-height: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.fullscreen-menu.active {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.fullscreen-menu.active ul {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.fullscreen-menu.active ul li {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.bold {
  font-weight: bolder;
}
.white {
  color: white;
}
.stuff {
  position: absolute;
  width: 100%;
  height: 100%;
}
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}
@font-face {
    font-family: 'strasuaregular';
    src: url('./components/Intro/css/strasua-webfont.woff2') format('woff2'),
         url('./components/Intro/css/strasua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container
{
  display: block;
  font-family: strasuaregular;
  margin: 0 auto;
	padding: 6em 3em;
	text-align: center;
}

.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px strasuaregular;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Border X get width  */
.borderXwidth a:before, .borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth a:hover:before, .borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

@media only screen and (max-width: 700px){
  .header {
    display: block;
  }
  .container {
    display: none;
  }
  .menu {
    width: 40px;
    height: 30px;
  }
  .menu:before, .menu:after {
    width: 40px;
    height: 7px;
  }
}
