body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./images/back.jpg) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #010213;
}

h1 {
  font: 400 2rem 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 350px) {
  h1 {
    font: 300 2rem 'Montserrat', sans-serif;
    letter-spacing: 0em;
    text-transform: uppercase;
  }
}
