body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(./images/back.jpg) no-repeat center center fixed; */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1d2224;
}

h1 {
  font: 400 2rem 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: brandon-grotesque,Avenir Next,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #7e9199 0%, #43a699 70%);
  background-image: -moz-linear-gradient(45deg, #7e9199 0%, #43a699 70%);
  background-image: -ms-linear-gradient(45deg, #7e9199 0%, #43a699 70%);
  background-image: -o-linear-gradient(45deg, #7e9199 0%, #43a699 70%);
  background-image: linear-gradient(45deg, #7e9199 0%, #43a699 70%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


@media (max-width: 350px) {
  h1 {
    letter-spacing: 0em;
    text-transform: uppercase;
  }
}
